#include <flux.h>

class {{PROJECT_NAME}} : public flux::Application
{
public:
    void OnInit() override { }
    void OnUpdate(float dt) override { }
    void OnShutdown() override { }
};


/**
 * The entry point for your application.
 *
 * Here, you can handle any command line arguments as you'd like, and control the construction
 * of your application
 */
flux::Application* flux::CreateApplication(int argc, char** argv)
{
    return new {{PROJECT_NAME}}();
}